@model Homework5.Models.Tennant

@{
    ViewBag.Title = "CreateForm";
}

<h2 class="form_title">Campus Apartments</h2>
<br />
<h4 class="form_title">Tennant Request Form</h4>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "^[0-9]{3}-[0-9]{3}-[0-9]{4}$" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "Please enter Phone Number as per this format: 999-999-9999", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-sm-8">
                    @Html.LabelFor(model => model.ApartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ApartmentName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.ApartmentName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.UnitNumber, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "^[0-9]{2}$" } })
                    @Html.ValidationMessageFor(model => model.UnitNumber, "", new { @class = "text-danger" })
                </div>
            </div>
         </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-8">
                    <div class="form">
                        @Html.TextBoxFor(model => model.TextBox, new { htmlAttributes = new { @class = "form-control", required = "required", style = "width: 100px" } })
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <br />
                    <input class="btn btn-primary" type="submit" value="Submit Request" />
                </div>
                <div class="col-sm-6">
                    @*@Html.CheckBoxFor(model => model.CheckBox, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.LabelFor(model => model.CheckBox, "Select here to give permission for the landlord or " +
                  "representative to enter your unit to perform the requested mainenance.We will call first.", htmlAttributes: new { @class = "control-label col-md-2" })
                *@</div>
            </div>
        </div>
        }
